<!DOCTYPE html>
<html lang="en">
<%- 
    include('partials/seo.ejs', 
    {title: 'Gentile Spark'}) 
%>
<body class="container-fluid px-0">
    <%- include('partials/header.ejs') %>
    <h1 class="fs-1">Hello World</h1>
    <script type="text/javascript" src="js/main.js"></script>
    <script rel="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>